<div class="page-header">
  <h2>
    <span>Unpaid Orders</span>
    <%= link_to 'Altisource Report', altisource_report_admin_orders_path(q: params[:q], format: 'xlsx'), class: 'btn btn-primary pull-right' %>
  </h2>
</div>

<div class="row">
  <%= search_form_for [:admin, @q], html: { class: 'form' } do |f| %>
    <fieldset>
      <div class="form-group col-md-4">
        <%= f.label :client_id_eq, 'Client Name' %>
        <%= f.select :client_id_eq, options_from_collection_for_select(@clients, 'id', 'name'), {}, class: 'form-control js-example-basic-single' %>
      </div>

      <div class="form-group col-md-3">
        <%= f.label :complete_date_gteq, 'From' %>
        <%= f.search_field :complete_date_gteq, class: 'form-control', data: { provide: 'datepicker' } %>
      </div>

      <div class="form-group col-md-3">
        <%= f.label :complete_date_lteq, 'To' %>
        <%= f.search_field :complete_date_lteq, class: 'form-control', data: { provide: 'datepicker' } %>
      </div>

      <div class="col-md-2">
        <%= f.submit 'Search', class: 'btn btn-default' %>
      </div>
    </fieldset>
  <% end %>
</div>

<div class="row">
  <% if @orders.empty? %>
    <div class="col-md-12">
      <p><em>No orders found</em></p>
    </div>
  <% else %>
    <%= paginate @orders %>
    <table class="table table-hover">
      <thead>
        <th>J&J #</th>
        <th>Client</th>
        <th>Ref #</th>
        <th>Name</th>
        <th>Service</th>
        <th>Amount</th>
        <th>Order Date</th>
        <th>Complete Date</th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.id %></td>
            <td><%= order.client.try(:name) %></td>
            <td><%= order.external_reference_num %></td>
            <td><%= order.prop_name %></td>
            <td><%= order.service %></td>
            <td><%= humanized_money_with_symbol order.service_fee %></td>
            <td><%= formatted_date order.order_date %></td>
            <td><%= formatted_date order.complete_date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @orders %>
  <% end %>
</div>
